services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    env_file:
      - env.test
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U test"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app_network

volumes:
  pgdata:

networks:
  app_network:

